{% extends 'base.html' %}
{% load static%}
{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h1>Login</h1>
        </div>
        <div class="card-body">        
            <form method="POST" action="">
                {% csrf_token %}
                <p>
                    <input class="form-control" type="text" name="username" placeholder="Username...">
                </p>
                <p>
                    <input class="form-control" type="password" name="password" placeholder="Password..." >
                </p>
                <input class="btn btn-primary mb-3" type="submit" value="login">
                <p>Do not have an account <a href="{% url 'register' %}">Register</a></p>
            </form>
        </div>
    </div>
</div>
    {% endblock %}